<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>com.qiu.servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servletContent</servlet-name>
        <servlet-class>com.qiu.servlet.GetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletContent</servlet-name>
        <url-pattern>/getServletContent</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servletError</servlet-name>
        <servlet-class>com.qiu.servlet.ErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletError</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
